{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h2> Create a Poll! </h2>
        {% if error_message %}
            <h3> {{ error_message }} </h3>
        {% endif %}
        <form action="/create" id="pollForm" method="post">
            {% csrf_token %}
            <label for="questioninput"> Question: </label>
            <input type="text" name="question" id="questioninput" value="Enter your question here" />
            <br />
        <div id="options">
            <label for="choice1input"> Choice 1 : </label>
            <input type="text" name="choice1" id="choice1input" value="Choice 1" />
            <br />
        </div>
        <button type="button" class="btn-small btn" onclick="addPollOption();"> Add Another Choice </button>
        <br /> <br /> <br />
        <input type="submit" class="btn-large btn-primary" value="Create Poll!" />
    </form>
</div>

<div class="row">
    <div class="span4">
        {% if latest_poll_list %}
            <h2>Newest Polls</h2>
            <ul>
                {% for poll in latest_poll_list %}
                <li><a href="{% url poll_view poll.id %}">{{ poll.question }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="span4">
        <h2>Most Popular Polls</h2>
    </div>
    <div class="span4">
        <h2>Search Polls</h2>
    </div>
</div>


<script type="text/javascript">
    optionCount = 2;
    function addPollOption() {
        options = document.getElementById("options");

        // Input
        input = document.createElement("input");
        input.type = "text";
        input.name = "choice" + optionCount;
        input.id = "choice" + optionCount + "input";
        input.value = "Choice " + optionCount;

        // Label
        label = document.createElement("label");
        label.htmlFor = input.id;
        label.innerHTML = "Choice " + optionCount + " :";

        //Add the nodes
        options.appendChild(label);
        options.appendChild(input);
        options.appendChild(document.createElement("br"));
        optionCount++;
    }
</script>

{% endblock %}
