<!DOCTYPE html>
<html lang="en">
    <head>
        {% load compressed %}
        {% compressed_css 'custombootstrap' %}
    <title>{% block title %}gimme a poll{% endblock %}</title>
</head>
<body>

    <div class="container">
    <header>
                <h1 align="center">Gimme A Poll!</h1>
                <form action="{% url search %}" id="searchForm" method="get" align="center">
                    <input type="text" name="q" class="search-query span2" placeholder="Search Polls" id="searchinput">
                </form>
        </header>
    </div>

  <div id ="content">
      <noscript>
          <div class="alert alert-error">
              It looks like you don't have javascript enabled! Graphs are going to be a bit uglier, but everything else
              should work.
          </div>
      </noscript>
      {% block content %}{% endblock %}
  </div>


  <footer>
  <br><br><br>
    <div class="container">
    <div class="row">
    <div class="span4">
        <h5>What Is This? And Why Am I Here?</h5>
        <p> Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
    </div>
    <div class="span4">
        <h5>Awesome! Can I Help?</h5>
        <p> Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
    </div>
    <div class="span4">
      <h5>Some Other Cool Stuff</h5>
        <p> Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
  </div>
  </div>
</div>
  </footer>


</body>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.dropdown-toggle').dropdown()
        });
    </script>
    {% block scripts %}{% endblock %}
</html>
