<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% load compressed %}
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}graphing/raphael-min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}graphing/fancygraphs.js"></script>
        <script type="text/javascript">
            var data = [];
            var choiceIds = [];
            var vote_URLs = [];
            var csrf = "";

            function argsFor(x, i) {
                //This should really be a an array of dicts, not an array of arrays... but w/e
                return  [x, data[i], vote_URLs[i], choiceIds[i], csrf, {}]
            }
        </script>
        {% compressed_css 'custombootstrap' %}
        <title>{% block title %}gimme a poll{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span8">
                    <img src="../static/logo.png" alt="Our logo"/>
                    <img src="../static/title.png" alt="GimmeaPoll"/>
                </div>
                <div class="span3 offset1">
                    <br><br><br>
                    <form action="{% url search %}" id="searchForm" method="get">
                        <input type="text" name="q" class="search-query span2" placeholder="Search Polls" id="searchinput">
                    </form>
                </div>
            </div>
            <br>
        </div> <!--close container -->

    <div id ="content">
        <noscript>
            <div class="alert alert-error">
                It looks like you don't have javascript enabled! Graphs are going to be a bit uglier, but everything else
                should work.
            </div>
        </noscript>
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <br><br>
            <div class="row">
                <div class="span4">
                    <h5>What Is This? And Why Am I Here?</h5> <br>
                    <p> Wonder what people are thinking? Making a poll is quick and easy: No fee, No registration. Go for it! </p>
                </div> <!-- close span4 -->
                <div class="span4">
                    <h5>Awesome! Can I Help?</h5> <br>
                    <p> Sure! Check us out at: <a href="http://www.github.com/sbadame/polling">github.com</a></p>
                </div> <!-- close span4 -->
                <div class="span4">
                    <h5>Some Other Cool Stuff</h5> <br>
                    <ul>
                        <li><a href="http://www.google.com">google.com</a></li>
                        <li><a href="http://www.django.com">django.com</a></li>
                        <li><a href="http://www.python.org">python.org</a></li>
                        <li><a href="http://www.xkcd.com">xkcd.com</a></li>
                    </ul>
                </div> <!-- close span4 -->
            </div> <!-- close row -->
        </div> <!-- close container -->
    </footer>
    </body>
    {% block scripts %}{% endblock %}
</html>
