{% extends "base.html" %}
{% load polls %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="span6">
        <h2> Create a Poll! </h2>
        {% if error_message %}
            <h3> {{ error_message }} </h3>
        {% endif %}
        <form action="/create" id="pollForm" method="post">
            {% csrf_token %}
            <input type="radio" name="pub_priv" value="Public" checked>Make Public Poll <br>
            <input type="radio" name="pub_priv" value="Private">Make Private Poll<br><br>

            <!--<label for="questioninput"> Question: </label>-->
            <input type="text" name="question" id="questioninput" value="Enter Your Question Here" onblur="if
            (this.value == '') {this.value = 'Enter Your Question Here';}" onfocus="if (this.value == 'Enter Your Question Here') {this.value = '';}" />
            <br />
            <div id="options">
                <!--<label for="choice1input"> Choice 1 : </label>-->
                <input type="text" name="choice1" id="choice1input" value="Choice 1" onblur="if(this.value =='')
                {this.value = 'Choice 1';}" onfocus="if (this.value == 'Choice 1') {this.value = '';}"/>
                <br />
                <!--<label for="choice2input"> Choice 2 : </label> -->
                <input type="text" name="choice2" id="choice2input" value="Choice 2" onblur="if(this.value =='')
                {this.value = 'Choice 2';}" onfocus="if (this.value == 'Choice 2') {this.value = '';}" />
                <br />
            </div>
            <button type="button" class="btn-small btn" onclick="addPollOption();"> Add Another Choice </button>
            <br /> <br /> <br /> <br />
            <input type="submit" class="btn-large btn-primary" value="Create Poll!" />
        </form>
    </div>
    <div class="span6">
        <h2>Check out an Example...</h2>
        <h3>{{ random_poll.question }}</h3>
        <div id="graph"></div>
        <div id="canvas_container"></div>
    </div>
    </div>
<div class="row">
    <div class="span4">
        {% if latest_poll_list %}
            <h2>Newest Polls</h2>
            <ul>
                {% for poll in latest_poll_list %}
                <li><a href="{{ poll.get_absolute_url }}">{{ poll.question }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="span4">
        <h2>Most Popular Polls</h2>
        <ul>
            {% for poll in popular_poll_list %}
            <li><a href="{{ poll.get_absolute_url }}">{{ poll.question }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <h2>Polls About To Expire</h2>
        <ul>
            {% for poll in danger_poll_list %}
            <li><a href="{{ poll.get_absolute_url }}">{{ poll.question }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</div><!-- close container -->


<script type="text/javascript">
    optionCount = 3;
    function addPollOption() {
        options = document.getElementById("options");

        // Input
        input = document.createElement("input");
        input.type = "text";
        input.name = "choice" + optionCount;
        input.id = "choice" + optionCount + "input";
        input.value = "Choice " + optionCount;
        var input_value_bkup = input.value;
        input.onblur = function() {if(this.value == '') {this.value = input_value_bkup;}};
        input.onfocus = function() {if (this.value == input_value_bkup) {this.value = '';}};

        // Label
        //label = document.createElement("label");
        //label.htmlFor = input.id;
        //label.innerHTML = "Choice " + optionCount + " :";

        //Add the nodes
        //options.appendChild(label);
        options.appendChild(input);
        options.appendChild(document.createElement("br"));
        optionCount++;
    }
</script>

{% endblock %}

{% block scripts %}
    {% poll_script random_poll #canvas_container %}
{% endblock %}
