{% extends "base.html" %}
{% load polls %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span8">
            <h3>Check out an Example...</h3>
            <br>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#lA" data-toggle="tab">Random Poll</a></li>
                    <li><a href="#lB" data-toggle="tab">Most Voted</a></li>
                    <li><a href="#lC" data-toggle="tab">Most Active</a></li>
                    <li><a href="#lD" data-toggle="tab">Newest</a></li>
                    <li><a href="#lE" data-toggle="tab">Hottest</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="lA">
                        <h4>{{ random_poll.question }}</h4>
                        <div id="canvas_container">
                            <noscript>
                            <img src="{{ random_poll.get_image_url }}"/>
                            <form class="well form-inline" action="{{ random_poll.get_vote_url }}" method="post">
                            {% csrf_token %}
                                Vote For:
                                {% for choice in random_poll.choice_set.all %}
                                        <input type="submit" value="{{ choice.choice }}" name="choice" />
                                {% endfor %}
                            </form>
                            </noscript> 
                        </div>  <!-- close canvas container --> 
                    </div> <!-- close table pan active -->
                    <div class="tab-pane" id="lB">
                        <p>Most Voted Poll Here</p>
                    </div> <!-- closes tab pan -->
                    <div class="tab-pane" id="lC">
                        <p>Most Active Poll Here</p>
                    </div> <!-- closes tab-pane -->
                    <div class="tab-pane" id="lD">
                        <!-- TODO(sandro): actually render some friggen polls here... -->
                        {% for poll in latest_poll_list %}
                            <p>{{ poll.question }}</p>
                        {% endfor %}
                    </div> <!-- closes tab-pane -->
                    <div class="tab-pane" id="lE">
                        <p>Hotest Poll Here</p>
                    </div> <!-- closes tab-pane -->
                </div> <!-- close tab content -->
            </div> <!-- /tabbable -->
        </div> <!-- close span6 -->
        <div class="span3 offset1">
            <h2> Create a Poll! </h2>
            <br>
            {% if error_message %}
                <h3> {{ error_message }} </h3>
            {% endif %}
            <form action="/create" id="pollForm" method="post">
                {% csrf_token %}
                <input type="radio" name="pub_priv" value="Public" checked>Make Public Poll <br>
                <input type="radio" name="pub_priv" value="Private">Make Private Poll<br><br>

                <noscript>
                    Question:
                </noscript>
                <input type="text" name="question" id="questioninput" onblur="if
                (this.value == '') {this.value = 'Enter Your Question Here';}" onfocus="if (this.value == 'Enter Your Question Here') {this.value = '';}" />
                <br />
                <div id="options">

                    <noscript> Choice 1: </noscript> 
                    <input type="text" name="choice1" id="choice1input" />
                    <br />

                    <noscript> Choice 2: </noscript> 
                    <input type="text" name="choice2" id="choice2input" />
                    <br />

                    <noscript>
                        <!-- Since the "Add another choice button" doesn't really work for non js
                            Give the noscript people a couple more choices by default -->

                        Choice 3: <input type="text" name="choice3" id="choice3input" />
                        <br/>
                        Choice 4: <input type="text" name="choice4" id="choice4input" />
                    </noscript>
                </div> <!-- close options -->
                <div id="addOptionContainer">
                </div>
                <br />
                <input type="submit" class="btn-large btn-primary" value="Create Poll!" />
            </form>
        </div> <!-- close span6 -->
    </div> <!-- close row -->
</div><!-- close container -->


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        eventHandlers = {
            'focus': function(){
                //Find the first number in the choice,
                var index = this.id.match(/\d+/);
                if ($(this).val() == "Choice " + index) {
                    $(this).val('');
                }
            },

            'blur': function(){
                //Find the first number in the choice,
                var index = this.id.match(/\d+/);
                if ($(this).val() == "") {
                    $(this).val('Choice ' + index);
                }
            }
        };

        optionCount = 3;
        function addPollOption() {
            options = document.getElementById("options");

            // Input
            input = document.createElement("input");
            options.appendChild(input);
            options.appendChild(document.createElement("br"));

            input.type = "text";
            input.name = "choice" + optionCount;
            input.id = "choice" + optionCount + "input";
            $(input).val("Choice " + optionCount);

            optionCount++;
            $(input).bind(eventHandlers);
        }

        $(document).ready(function(){
            inputs = $("#options input:text");
            inputs.bind(eventHandlers);
            inputs.val(function (index) {
                return "Choice " + (index + 1);
            });

            var addChoiceButton = document.createElement('input');
            addChoiceButton.type = "button";
            $(addChoiceButton).addClass("btn-small btn");
            addChoiceButton.onclick = addPollOption;
            addChoiceButton.value = "Add Another Choice";

            var container = document.getElementById("addOptionContainer");
            container.appendChild(addChoiceButton);

            $("#questioninput").val("Enter Your Question Here");

        });
    </script>
    {% poll_script random_poll #canvas_container %}
{% endblock %}
