{% extends "base.html" %}
{% load polls %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span8">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <div class="carousel-caption">
                            {% if p == "hottest" %}
                                <h4>Hottest Poll</h4>
                                <h5>{{ hottest_poll.question }}</h5>
                            {% else %}
                                {% if p == "voted" %}
                                    <h4>Most Voted Poll</h4>
                                    <h5>{{ mostvoted_poll.question }}</h5>
                                {% else %}
                                    {% if p == "latest" %}
                                        <h4>Latest Poll</h4>
                                        <h5>{{ latest_poll.question }}</h5>
                                    {% else %}
                                        <h4>Random Poll</h4>
                                        <h5>{{ random_poll.question }}</h5>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                            {% if p == "hottest" %}
                                {% poll hottest_poll %}
                            {% else %}
                                {% if p == "voted" %}
                                    {% poll mostvoted_poll %}
                                {% else %}
                                    {% if p == "latest" %}
                                        {% poll latest_poll %}
                                    {% else %}
                                        {% poll random_poll %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                    </div> <!-- close carousel item -->
                    <div class="item">
                        <div class="carousel-caption">
                            <h4> Most Voted </h4>
                            <h5> {{ mostvoted_poll.question }} </h5>
                        </div>
                        {% poll mostvoted_poll %}
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h4> Latest </h4>
                            <h5> {{ latest_poll.question }} </h5>
                        </div>
                        {% poll latest_poll %}
                    </div> <!-- closes tab-pane -->
                    <div class="item">
                        <div class="carousel-caption">
                            <h4> Hottest </h4>
                            <h5> {{ hottest_poll.question }} </h5>
                        </div>
                        {% poll hottest_poll %}
                    </div> <!-- closes tab-pane -->
                </div>
                <script type="text/javascript">
                    var carouselIndex = 0;
                    var itemCount = $("#myCarousel .item").size();

                    $("#myCarousel").bind("slide", function(){
                        //eq is like get but it returns jquery object, not the dom element
                        //carouselItems.eq(carouselIndex).hide();
                        carouselIndex++;
                        if (carouselIndex >= itemCount) {
                            carouselIndex = 0;
                        }

                        //carouselItems.eq(carouselIndex).slideDown();
                        activePoll = $("#poll_container" + carouselIndex);
                        args = argsFor(activePoll.get(0), carouselIndex);
                        activePoll.trigger('isVisible', args);
                    });

                    $(document).ready(function(){
                        var poll = $("#poll_container0");
                        args = argsFor(poll.get(0), 0);
                        poll.trigger('isVisible', args);
                    });

                </script>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                <noscript>
                    {% if p == "random" %}
                        <a class="carousel-control left" href="{% url index_view %}?p=hottest" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="{% url index_view %}?p=voted" data-slide="next">&rsaquo;</a>
                    {% else %}
                        {% if p == "voted" %}
                            <a class="carousel-control left" href="{% url index_view %}?p=random" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="{% url index_view %}?p=latest" data-slide="next">&rsaquo;</a>
                        {% else %}
                            {% if p == "latest" %}
                                <a class="carousel-control left" href="{% url index_view %}?p=voted" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" href="{% url index_view %}?p=hottest" data-slide="next">&rsaquo;</a>
                            {% else %}
                                {% if p == "hottest" %}
                                    <a class="carousel-control left" href="{% url index_view %}?p=latest" data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="{% url index_view %}?p=random" data-slide="next">&rsaquo;</a>
                                {% else %}
                                    <a class="carousel-control left" href="{% url index_view %}?p=hottest" data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="{% url index_view %}?p=voted" data-slide="next">&rsaquo;</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </noscript>
            </div>
        </div>
        <div class="span4">
            <h2> Create a Poll! </h2>
            <br>
            {% if error_message %}
                <h3> {{ error_message }} </h3>
            {% endif %}
            <form action="/create" id="pollForm" method="post">
                {% csrf_token %}
                <input type="radio" name="pub_priv" value="Public" checked>Make Public Poll <br>
                <input type="radio" name="pub_priv" value="Private">Make Private Poll<br><br>

                <noscript>
                    Question:
                </noscript>
                <input type="text" name="question" id="questioninput" onblur="if
                (this.value == '') {this.value = 'Enter Your Question Here';}" onfocus="if (this.value == 'Enter Your Question Here') {this.value = '';}" />
                <br />
                <div id="options">

                    <noscript> Choice 1: </noscript> 
                    <input type="text" name="choice1" id="choice1input" />
                    <br />

                    <noscript> Choice 2: </noscript> 
                    <input type="text" name="choice2" id="choice2input" />
                    <br />

                    <noscript>
                        <!-- Since the "Add another choice button" doesn't really work for non js
                            Give the noscript people a couple more choices by default -->

                        Choice 3: <input type="text" name="choice3" id="choice3input" />
                        <br/>
                        Choice 4: <input type="text" name="choice4" id="choice4input" />
                    </noscript>
                </div> <!-- close options -->
                <div id="addOptionContainer">
                </div>
                <br />
                <input type="submit" class="btn-large btn-primary" value="Create Poll!" />
            </form>
        </div> <!-- close span6 -->
    </div> <!-- close row -->
</div><!-- close container -->


{% endblock %}

{% block scripts %}
<script type="text/javascript">
    eventHandlers = {
        'focus': function(){
            //Find the first number in the choice,
            var index = this.id.match(/\d+/);
            if ($(this).val() == "Choice " + index) {
                $(this).val('');
            }
        },

        'blur': function(){
            //Find the first number in the choice,
            var index = this.id.match(/\d+/);
            if ($(this).val() == "") {
                $(this).val('Choice ' + index);
            }
        }
    };

    optionCount = 3;
    function addPollOption() {
        options = document.getElementById("options");

        // Input
        input = document.createElement("input");
        options.appendChild(input);
        options.appendChild(document.createElement("br"));

        input.type = "text";
        input.name = "choice" + optionCount;
        input.id = "choice" + optionCount + "input";
        $(input).val("Choice " + optionCount);

        optionCount++;
        $(input).bind(eventHandlers);
    }

    $(document).ready(function(){
        inputs = $("#options input:text");
        inputs.bind(eventHandlers);
        inputs.val(function (index) {
            return "Choice " + (index + 1);
        });

        var addChoiceButton = document.createElement('input');
        addChoiceButton.type = "button";
        $(addChoiceButton).addClass("btn-small btn");
        addChoiceButton.onclick = addPollOption;
        addChoiceButton.value = "Add Another Choice";

        var container = document.getElementById("addOptionContainer");
        container.appendChild(addChoiceButton);

        $("#questioninput").val("Enter Your Question Here");

    });
</script>
{% endblock %}
